*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
 
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  
  font-family: Arial, sans-serif;
}

.form-card {
  background-color: rgba(96, 94, 94, 0.13);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 30px;
  width: 100%;
  max-width: 400px;
 
  
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap:1.2em;
  
  
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap:0.6em;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
 
  
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.form-error {
  color: #e74c3c;
  font-size: 0.9rem;
}

.password-strength {
  font-size: 0.9rem;
  color: #666666;
  margin-top: 5px;
}

.submit-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.toggle-button {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 10px;
  
  width:100%;
}


.toggle-button:hover{
  color:#0056b3;
}

.success-message {
  color: #28a745;
  font-size: 0.9rem;
  margin-top: 10px;
}
